
body {
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    background-color: #CACCCF;
}

#main-container {
    background: white;
    margin-top: 5%;
    width: 95%;
    border-radius: 10px;
    overflow: hidden;
}

#today-container {
    text-align: center;
    background-color: white;

}

#search {
    margin: 0.5em 0 0.5em;
    border: none;
    border-color: transparent;
    text-align: left;
}

#loc {
    border: none;
    border-color: transparent;
}

#search-btn {
    border: none;
    border-color: transparent;
    background-color: white;
    color: #6c757d;
    align-items: right;
}

#today {
    padding: 10%;
}

#today-icon {
    padding: 5%;
}

#today-temp {
    font-size: 3rem;
}

#data-container {
    background-color:#f3f3f5;

}

#degree {
    align-items: center;
    font-size: .9rem;
    text-align: center;
    padding: 1.5%;
}

#degree-c {
    width: 1.5rem;
    height: 1.5rem;
    border-color: black;
    border-style: solid;
    border-width: thin;
    border-radius: 50%;
    background-color: white;
    color: black;
}

#degree-f {
    width: 1.5rem;
    height: 1.5rem;
    border-color: black;
    border-style: solid;
    border-width: thin;
    border-radius: 50%;
    background-color: black;
    color: white;
}

#week-container {
    align-content: center;
    align-items: center;
}

#day {
    background-color: white;
    text-align: center;
    width: 6rem;
    margin: auto;
}

#today-header {
    padding: 2%;
    font-size: 1rem;
    font-weight: bold;
}

#highlight {
    color: #6c757d;
    font-size: .9rem;
    margin-right: 0;
    margin-left: .8rem;
}

#highlight-data {
    font-size: 1.5rem;
    padding: 5%;
    margin-right: 0;
    margin-left: .8rem;
}

#highlight-sun {
    font-size: .9rem;
    padding: 2%;
    margin-right: 0;
    margin-left: .8rem;
}

#data {
    background-color: white;
    width: 15rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: auto;
    margin-right: auto;
}

.col {
    align-content: center;
    align-items: center;
}